.admin{
    text-align: center;
    background-color: aliceblue;
    color: #2c3f50;
}
.admin1{
background-color: #027bff;
color: white;
}
.admin2{
    background-color:#ffffff;
    color: black;
}
