* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    width: 80%;
}

.title {
    color: white;
    background-color: #007bff;
    padding: 30px;
    font-size: 30px;

}
.title button{
  border: none;
  padding: 10px;
  margin-top: 20px;
}
.img {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #0078ff;
    object-fit: cover;
    margin-left:  300px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer {
    background-color: #f1f1f1;
    padding-top: 20px;
    padding-bottom: 20px;
}
